Repository Dugyu/lunarium: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

.lintstagedrc.json:

{
  "*": [
    "cspell lint --config cspell.jsonc --gitignore --no-must-find-files"
  ],
  "*package.json": ["sort-package-json"],
  "*.{ts,tsx,js,jsx,json,md,mdx,yaml}": [
    "dprint fmt --allow-no-files --",
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --cache --fix --no-warn-ignored"
  ]
}

fix(luna-tailwind): prevent theme override by marking preset as leaf
  packages/tailwind/src/index.ts
  pnpm-lock.yaml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

fix(luna-tailwind): prevent theme override by marking preset as leaf (#52)
  packages/tailwind/src/index.ts
  pnpm-lock.yaml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore(license): add Apache-2.0 LICENSE and NOTICE
  .cspell/misc.txt
  LICENSE
  NOTICE
  apps/stage/package.json
  apps/studio/package.json
  package.json
  packages/catalog/package.json
  packages/core/package.json
  packages/reactlynx/examples/basic/package.json
  packages/reactlynx/package.json
  packages/styles/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore(license): add Apache-2.0 LICENSE and NOTICE (#53)
  .cspell/misc.txt
  LICENSE
  NOTICE
  apps/stage/package.json
  apps/studio/package.json
  package.json
  packages/catalog/package.json
  packages/core/package.json
  packages/reactlynx/examples/basic/package.json
  packages/reactlynx/package.json
  packages/styles/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: github actions demo
  .github/workflows/github-actions-demo.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore: setup CI/CD workflows and OIDC bootstrap tooling
  .changeset/config.json
  .coderabbit.yaml
  .cspell/misc.txt
  .github/workflows/bootstrap-publish.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .meta-updater/main.mjs
  package.json
  packages/catalog/package.json
  packages/core/package.json
  packages/reactlynx/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
  tools/bootstrap-package/index.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

ci: harden workflows and improve bootstrap tooling
  .cspell/misc.txt
  .github/workflows/bootstrap-publish.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  tools/bootstrap-package/index.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: remove manual corepack steps
  .github/workflows/ci.yml
  package.json
  tools/bootstrap-package/index.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: setup CI/CD workflows and OIDC bootstrap tooling (#55)
  .changeset/config.json
  .coderabbit.yaml
  .cspell/misc.txt
  .github/workflows/bootstrap-publish.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .meta-updater/main.mjs
  package.json
  packages/catalog/package.json
  packages/core/package.json
  packages/reactlynx/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
  tools/bootstrap-package/index.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

ci: extract shared ci-setup action and harden release/publish behavior
  .github/actions/ci-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: remove manual publish, add failure repair script for github release
  .github/scripts/repair-github-releases.mjs
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: fix repair script robustness and split lint steps
  .github/scripts/repair-github-releases.mjs
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: improve release automation and CI workflow robustness (#57)
  .github/scripts/repair-github-releases.mjs
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix: format, sha, and error catchup
  .github/scripts/repair-github-releases.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: optimize version PR gate
  .cspell/misc.txt
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix(publish): apply CodeRabbit fixes for shell robustness in Detect VP step
  .cspell/misc.txt
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: improve error handling and refactor prefix matching in publish workflow (#58)
  .cspell/misc.txt
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix: PR detection, reason, github token
  .cspell/misc.txt
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix: minor typos and fields
  .github/workflows/publish.yml
  packages/catalog/package.json
  packages/reactlynx/examples/basic/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

fix(repair): guard against tagging historical packages with wrong SHA
  .github/scripts/repair-github-releases.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix(repair): harden guard against formatting-only package.json changes
  .github/scripts/repair-github-releases.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix: code format
  .github/scripts/repair-github-releases.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

Add version change detection to repair-github-releases script (#59)
  .github/scripts/repair-github-releases.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix(ci): abort when diff-tree fails in release repair script
  .github/scripts/repair-github-releases.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix: only npm view touched packages
  .github/scripts/repair-github-releases.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: extract shared action and harden release/publish behavior (#56)
  .cspell/misc.txt
  .github/actions/ci-setup/action.yml
  .github/scripts/repair-github-releases.mjs
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  packages/catalog/package.json
  packages/reactlynx/examples/basic/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

ci: gate publish with npm environment var
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: gate publish with npm environment var (#60)
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: remove redundant job-level if condition in publish.yml
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: remove conditional check from npm publish workflow (#61)
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

refactor: extract reusable test workflow, gate publish on pre-publish CI
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: refactor CI workflows to use reusable workflow (#62)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: add test timeout, remove comments
  .github/workflows/publish.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: refactor CI workflows to use reusable workflow (#63)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: update publish pipeline gates
  .github/workflows/bootstrap-publish.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

Fix reusable validate job keys in publish workflow
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix(ci): remove unsupported `timeout-minutes` in publish workflow (#65)
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix(ci): invalid publish file
  .github/workflows/publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: update publish pipeline gates (#64)
  .github/workflows/bootstrap-publish.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore(ci): harden release automation and enable npm provenance
  .github/workflows/bootstrap-publish.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files
