Repository Dugyu/lunarium: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

ci: remove seconds precision in release PR title
  .github/workflows/release-pr.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore(ci): add Done gate for branch protection
  .github/workflows/ci.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: harden release workflows (#66)
  .github/workflows/bootstrap-publish.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/workflow-test.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore(workflow): show bootstrap package.json in run summary
  .github/workflows/bootstrap-publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore(workflow): show bootstrap package.json in run summary (#67)
  .github/workflows/bootstrap-publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore(workflow): gate private packages with --private flag
  .github/workflows/bootstrap-publish.yml
  tools/bootstrap-package/index.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix(bootstrap): allow negate args
  tools/bootstrap-package/index.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore(bootstrap): gate private packages with --private flag (#68)
  .github/workflows/bootstrap-publish.yml
  tools/bootstrap-package/index.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: remove npm latest dist-tag after bootstrap publish
  .github/workflows/bootstrap-publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

fix(workflow): better npm error capturing and logging
  .github/workflows/bootstrap-publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: remove npm latest dist-tag after bootstrap publish (#69)
  .github/workflows/bootstrap-publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: revert bootstrap publish dist-tag cleanup
  .github/workflows/bootstrap-publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: revert bootstrap publish dist-tag cleanup (#70)
  .github/workflows/bootstrap-publish.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore(eslint): enforce license headers
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore(eslint): refine import/order for internal aliases
  apps/stage/src/components/act-bloom/act-bloom.tsx
  eslint.config.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore(eslint): refine import/order for internal aliases (#72)
  apps/stage/src/components/act-bloom/act-bloom.tsx
  eslint.config.mjs
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: minor tsconfig and eslint fixes
  apps/stage/tsconfig.json
  apps/stage/tsconfig.node.json
  apps/stage/tsconfig.tailwind.json
  eslint.config.mjs
  packages/styles/tsconfig.json
  packages/tailwind/tsconfig.build.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: minor tsconfig and eslint fixes (#73)
  apps/stage/tsconfig.json
  apps/stage/tsconfig.node.json
  apps/stage/tsconfig.tailwind.json
  eslint.config.mjs
  packages/styles/tsconfig.json
  packages/tailwind/tsconfig.build.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: rm archived studio choreography
  apps/studio/src/components/choreography/archive/choreography-simple.tsx
  apps/studio/src/components/choreography/archive/compare-view.tsx
  apps/studio/src/components/choreography/archive/focus-view-test.tsx
  apps/studio/src/components/choreography/archive/focus-view.tsx
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

docs: add contributing guide and lynx-design README; reorganize project readmes
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  apps/stage/README.md
  apps/studio/README.md
  projects/luna/README.md
  projects/mtc-color-picker/README.md
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: narrow pnpm workspace projects scope
  pnpm-workspace.yaml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

fix: mtc-color-picker dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/mtc-color-picker/lynx.config.ts
  projects/mtc-color-picker/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: mark luna packages as private to prevent accidental publishing in upstream lynx-ui monorepo
  packages/core/package.json
  packages/reactlynx/package.json
  packages/styles/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: mark luna packages as private to prevent accidental upstream publishing (#74)
  packages/core/package.json
  packages/reactlynx/package.json
  packages/styles/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

feat: color tokens overhaul
  packages/core/src/theme/color.ts
  packages/tokens/src/luna-dark.ts
  packages/tokens/src/luna-light.ts
  packages/tokens/src/lunaris-dark.ts
  packages/tokens/src/lunaris-light.ts
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

feat: color tokens overhaul (#75)
  packages/core/src/theme/color.ts
  packages/tokens/src/luna-dark.ts
  packages/tokens/src/luna-light.ts
  packages/tokens/src/lunaris-dark.ts
  packages/tokens/src/lunaris-light.ts
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: add README and LICENSE across luna packages
  .changeset/config.json
  packages/catalog/LICENSE
  packages/catalog/package.json
  packages/core/LICENSE
  packages/core/README.md
  packages/core/package.json
  packages/reactlynx/LICENSE
  packages/reactlynx/package.json
  packages/styles/LICENSE
  packages/styles/README.md
  packages/styles/package.json
  packages/tailwind/LICENSE
  packages/tailwind/README.md
  packages/tailwind/package.json
  packages/tokens/LICENSE
  packages/tokens/README.md
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: add README and LICENSE across luna packages (excl. catalog and reactlynx) (#76)
  .changeset/config.json
  packages/catalog/LICENSE
  packages/catalog/package.json
  packages/core/LICENSE
  packages/core/README.md
  packages/core/package.json
  packages/reactlynx/LICENSE
  packages/reactlynx/package.json
  packages/styles/LICENSE
  packages/styles/README.md
  packages/styles/package.json
  packages/tailwind/LICENSE
  packages/tailwind/README.md
  packages/tailwind/package.json
  packages/tokens/LICENSE
  packages/tokens/README.md
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

ci: enable changeset detection
  .github/workflows/ci.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: enable changeset detection (#77)
  .github/workflows/ci.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

chore: make packages public, add initial release changeset
  .changeset/dark-balloons-teach.md
  packages/core/package.json
  packages/styles/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: make packages public, add initial release changeset (#78)
  .changeset/dark-balloons-teach.md
  packages/core/package.json
  packages/styles/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

ci: upgrade pnpm/action-setup to v5 to use Node.js 24.
  .github/actions/ci-setup/action.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

ci: upgrade pnpm/action-setup to v5 to use Node.js 24 (#80)
  .github/actions/ci-setup/action.yml
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files

Revert "chore: Release 2026-03-31 20:30 (#79)"
  .changeset/dark-balloons-teach.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tailwind/CHANGELOG.md
  packages/tailwind/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

Revert "chore: Release 2026-03-31 20:30" (#81)
  .changeset/dark-balloons-teach.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tailwind/CHANGELOG.md
  packages/tailwind/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

chore: add package repository url and directory for verifying provenance
  .changeset/frank-kings-joke.md
  packages/catalog/package.json
  packages/core/package.json
  packages/reactlynx/package.json
  packages/styles/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
Due: cspell lint --config cspell.jsonc --gitignore --no-must-find-files, sort-package-json, dprint fmt --allow-no-files --, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --cache --fix --no-warn-ignored

Path conditions:
  cspell lint --config cspell.jsonc --gitignore --no-must-find-files: any of: *
  sort-package-json: any of: *package.json
  dprint fmt --allow-no-files --: any of: *.{ts,tsx,js,jsx,json,md,mdx,yaml}
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,json,md,mdx,yaml}
  eslint --cache --fix --no-warn-ignored: any of: *.{ts,tsx,js,jsx,json,md,mdx,yaml}
